* {
	box-sizing: border-box;
}

@media (min-width: 960px) {
	* {
		scrollbar-width: thin;
		scrollbar-color: #f7cf4b;
	}
	*::-webkit-scrollbar {
		width: 10px;
	}

	*::-webkit-scrollbar-track {
		background: rgba(1, 1, 1, 0.3);
	}

	*::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, #f7cf4b 0%, #ffc269 100%);
		border-radius: 3px;
		border: 1px solid #f7cf4b;
	}
}

body {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(190.67deg, #2e2e2e 8.33%, #000000 100%);
}

.root {
	width: 100%;
	height: calc(100vh - 140px);
	padding: 20px;
	overflow: auto;
}

@media (min-width: 768px) {
	.root {
		height: calc(100vh - 120px);
	}
}
