* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(190.67deg, #2e2e2e 8.33%, #000000 100%);
}

.root {
	width: 100%;
	height: calc(100vh - 140px);
	padding: 20px;
}
